mixin main-navigation(links)
  nav.main-navigation.clearfix
    ul
      each link in links
        li: a(href='#{link.url}') #{link.name}
    span.icon-basket basket
    span.icon-loupe loupe
mixin bottom-navigation(links2)
  nav.bottom-navigation
    ul
      each link2 in links2
        li: a(href='#{link2.url}') 
          span.num #{link2.no} 
          span.item #{link2.name}
mixin section-title(title1, title2)
  .main-title 
    span #{title1}
    h2 #{title2}
mixin serv-item(services)
  each service in services
    .services-item
      span.title #{service.item}
      p.item-descr.
        #{service.text}
mixin about(images)
  each i in images
    if i.no == '1'
      .main-img.marked-img
        .grad
        img.shadow-img(src='#{i.url}' width=380 height=250 alt='#{i.alt}')
    else
      .main-img
        img(src='#{i.url}' width=380 height=250 alt='#{i.alt}')
mixin stat-data(stats)
  each stat in stats
    .stat-item
      span.number #{stat.num}
      span.item #{stat.item}    
mixin radio-item(radbtns)   
  each title in radbtns
    .radio
      label.title #{title}
        if title == 'Photography'
          input(type='radio' name='radio-item' checked)
        else
          input(type='radio' name='radio-item')
    .radio-descr
      if block
        block
      else
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
mixin team(members)
  each member in members
    figure.team-member
      img.marked-img(src='#{member.url}' width=100 height=100 alt='#{member.position}')
      if member.no == '1' 
        aside.member-social
          each socbtn in socbtns
            a.soc-btn(class='#{socbtn.type}'   href='#{socbtn.url}') #{socbtn.name} 
      span.title #{member.name}
      span.italic #{member.position} 
mixin quotes(autor)
  if block
    block
  else
  p.quote.
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
  span.autor #{autor}
mixin references(clients)
  each client in clients
    .client-item
      img(src='#{client.url}' width= height=   alt='#{client.name}')  
      .client-descr
        span.title #{client.name} 
        span.italic #{client.position}
        p.
          #{client.text} 
mixin blog(news)
  each n in news
    .blog-item
      img(src='#{n.url}' width= height=   alt='#{n.title}')
      .date
        span.day #{n.day}
        span.month #{n.month}
      span.title #{n.title}
      p.descr.
        #{n.descr}
      .stat 
        span.views #{n.views}
        span.comments #{n.comments}  
mixin follow(btns)
  .footer-btns
    each btn in btns 
      a(href='#{btn.url}') #{btn.name}
mixin blogs(records)
  .footer-blog
    each r in records
      .record
        img(src='#{r.url}' width=50 height=50 alt='#{r.alt}')
        .blog-description
          span.title.blog-title #{r.title}
          span.italic.blog-italic #{r.date}
mixin insta(pics)
  .footer-inst
    each p in pics
      img(src='#{p.url}' width=50 height=50 alt='#{p.alt}')
      
      
